#/etc/systemd/system/adaegis.timer

[Unit]
Description=ADAegis Monitor Timer

[Timer]
OnBootSec=10min
OnCalendar=*:0/5
#Persistent=true
Unit=adaegis.service

[Install]
WantedBy=timers.target