.DS_Store
.vscode/
build/
dist/
vendor/
bin/
script/docker/*.tar
script/docker/*.gz
script/docker/zeek/plugins/
script/docker/zeek/zeek.bin.7.1.0.tar.gz
script/docker/zeek/redis-plus-1.3.12.tar.gz
script/docker/backend/adaegis.zip
script/docker/backend/install-adaegis.ps1
script/docker/backend/uninstall-adaegis.ps1
script/docker/backend/static
script/docker/backend/apiserver
script/docker/backend/task_server
script/docker/backend/task_worker
script/docker/backend/tasker.yaml
script/docker/backend/apiserver.yaml
script/docker/engine/engine
script/docker/engine/engine.yaml
script/docker/engine/rules
script/docker/scanner/scanner
script/docker/scanner/scanner.yaml

agent/script/adaegis.zip
agent/sensor/tools/ntap.go
agent/sensor/tools/packet_forward.go
agent/sensor/tools/crypt_cfg.go
agent/sensor/tools/pkg_sensor.go

scanner/worker/plugin_enc.tar.gz
scanner/worker/venv_enc.tar.gz
scanner/worker/.sc
scanner/worker/.venv
scanner/plugins
scanner/pylibs
scanner/.build

script/docker-poc/ada-service/adaegis.zip
script/docker-poc/ada-service/install-adaegis.ps1
script/docker-poc/ada-service/uninstall-adaegis.ps1
script/docker-poc/ada-service/apiserver
script/docker-poc/ada-service/task_server
script/docker-poc/ada-service/task_worker
script/docker-poc/ada-service/engine
script/docker-poc/ada-service/static
script/docker-poc/ada-service/pkg
