.DS_Store
.vscode/
build/
script/docker/mongodb/02-init_db.js
script/docker/zeek/plugins/
script/docker/zeek/zeek.bin.7.1.0.tar.gz
script/docker/zeek/redis-plus-1.3.12.tar.gz

agent/sensor/cmd/ntap.go
agent/sensor/cmd/packet_forward.go

engine/rules/flow/TODO.txt

scanner/worker/sc_enc.tar.gz
scanner/worker/venv_enc.tar.gz

